.categoriesContainer {
  background-color: #181818;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .categoriesContainer {
    flex-direction: column;
  }
}

.category-containter {
  margin-left: 0px;
}

@media screen and (min-width: 768px) {
  .category-containter {
    margin-left: 0px;
  }
}

.categories-heading {
  color: #ffffff;
  font-family: 'Roboto';
  margin-top: 20px;
  margin-left: 10px;
  font-size: 16px;
  align-self: flex-start;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .categories-heading {
    margin-top: 10px;
  }
}

.categoriesmainList {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  gap: 20px;
  margin-left: 0;
  margin-right: 20;
  height: 100%;
  width: 100%;
  margin-top: 0;
  background-color: #040306;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .categoriesmainList {
    grid-template-columns: repeat(6, 0fr);
    gap: 30px;
  }
}

.failure-container {
  background-color: #040306;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 312px;
  height: 350px;
  margin-left: 6px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .failure-container {
    width: 900px;
    height: 400px;
  }
}

.failure-image {
  width: 25px;
  height: 25px;
}
.failure-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
}

.trybutton {
  color: #171f46;
  background-color: #ffffff;
  font-family: 'Roboto';
  width: 130px;
  height: 30px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.home-loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #040306;
  width: 312px;
  height: 350px;
}

@media screen and (min-width: 768px) {
  .home-loading-container {
    width: 900px;
    height: 400px;
  }
}

.loader-text {
  color: #ffffff;
  font-family: 'Roboto';
}
