.newLists {
  list-style: none;
  margin-right: 10px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.new-images {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    width: 80px;
    height: 80px;
  }
}

.new-images:hover {
  border: 3px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
}

.new-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 10px;
  text-align: center;
}
